
.layout {
	font-family:"Droid Sans", arial, sans-serif;
}

.post-message {
	font-family:"Droid Sans", arial, sans-serif;
}

.message-content {
	font-family:"Droid Sans", arial, sans-serif;
}

.post-body {
	font-family:"Droid Sans", arial, sans-serif;
}



